@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-base: #000;
  --color-text-muted: #D6E0F0;
  --color-text-inverted: #fff;
  --color-fill-primary: #F1F3F8;
  --color-fill-secondary: #393B44;
  --color-fill-accent: #8D93AB;
}

@layer components {
.transform-icon {
  transition: transform 0.3s ease;
}
}