@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-base: #495464;
  --color-text-muted: #D6E0F0;
  --color-text-inverted: #fff;
  --color-fill-primary: #F4F4F2;
  --color-fill-secondary: #BBBFCA;
  --color-fill-accent: #E8E8E8;
}

@layer components {
.transform-icon {
  transition: transform 0.3s ease;
}
}